


p{
	color:#ff0000;
	padding: 40px;
	margin: 1.5em;
	border:2px double;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: navy yellow green;
}

a{
	color:blue;
}
body {
   font-size:14px;
   border: 1px solid;
   background-color:#DDDDDD;
   background-image: url("pipe.gif") ;

}